body {
    margin: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("images/bernard-hermant-hQ3WZnY3yZ0-unsplash.jpg");
    background-size: cover;   
}

.avatar {
    margin-top: 30px;
    width: 150px;
    height: 150px;
} 

.card {
    display: flex;
    flex-direction: row;
    background-image: url("images/shapelined-_JBKdviweXI-unsplash.jpg");
    background-size: cover;
    background-position: 100%;
    width: 500px;
    margin: auto auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #000000;
    border: 5px solid #2c2829;
    border-bottom: 5px solid #0f0e0e;
    border-radius: 5px;
}

#first {
    margin-top: 90px;
}

.icons {
   
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    width: 27px;
    height : 30px;
}

#info {
    font-family: sans-serif;
    margin-left: 0;
    text-align : left;
    opacity: 0.9;
}

.emial {
    padding: 0;
    color : blue;
    border-bottom: 1px solid blue;
    opacity: 0.5;
}

.border {
        border: 2px solid #2d2f30;
}